repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.4.0
  hooks:
  - id: check-yaml
    args:
    - --multi
  - id: check-json
  - id: pretty-format-json
    args:
    - --autofix
  - id: check-added-large-files
  - id: check-ast
  - id: check-case-conflict
  - id: check-executables-have-shebangs
  - id: check-symlinks
  - id: end-of-file-fixer
  - id: trailing-whitespace
- repo: https://gitlab.com/pycqa/flake8
  rev: 3.8.4
  hooks:
  - id: flake8
